html,body{
    height: 100%;
    margin: 0;
    text-align: center;
}

.parallax-image{
    background-image: url(../img/mask-4964590_1280.png);
    text-align: center;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size:100px;
    font-family: 'Mr Dafoe', cursive;
    color: #ffffff;
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
    text-shadow: -3px -3px 12px #313a49;
    font-weight: normal;
}

.text1{
    font-size: 40px;
    color: white;
    margin: 0 0 20px 0;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

.text2{
    width: 100%;
    margin-left: 15%;
    padding: 30px 30px 80px 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 0.1em;
    line-height: 1.8;
}

.dyk{
    background-image: url(../img/planta-4822807_1280.png);
    text-align: center;
    padding: 50px;
    margin: 10px;;
    border:20px;
    min-height:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    font-size:50px;
    font-family: 'Mr Dafoe', cursive;
    color: #ffffff;
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
    text-shadow: -3px -3px 12px #313a49;
    font-weight: normal;
}
.text3{
    font-size: 20px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    text-align: left;
}

.ttues{
    background-image: url(../img/poster-2690541_1280.png);
    text-align: center;
    padding: 50px;
    margin: 10px;
    border: 20px;
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    font-size:50px;
    font-family: 'Mr Dafoe', cursive;
    color: #ffffff;
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
    text-shadow: -3px -3px 12px #313a49;
    font-weight: normal;
}

.content1{
    font-size: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    text-align:left;
}
